.App {
  font-family: sans-serif;
  text-align: left;
}

.content {
  display: flex;
  width: 100%;
}

.countries-list {
  display: flex;
}

.country-item {
  display: flex;
  margin: 3px 0;
  align-items: center;
  padding: 3px 10px;
  border: 0;
  width: 100%;
  text-align: left;
  font-size: 14px;
  line-height: 18px;

  &.active {
    background: #73abdf;
  }
}

